# RuHuman .gitignore

# Main Audio Liveness Detection Project for ASVSpoof

# All Voice Cloner Project Folders except the get script
!projects/audio/Cloners/getVoiceCloners.py
projects/audio/Cloners/

# All Voice Detector Project Folders except the get script
!projects/audio/Detectors/getVoiceCloners.py
!projects/audio/Detectors/Tortoise/
projects/audio/Detectors/

# All Audio Samples but the Ones Shown on Website & scripts
!docs/media/samples
!projects/audio/Samples/getSamples.py
Samples
!docs/media/samples
results

# Extra Multimodal Project that Adds Video as an Extra Dimension for Captcha. (After Fall Quarter)
!projects/multimodal/LipNet-Pytorch

*.pyc
*.pem
