<!DOCTYPE html>

<head>
	<title>RuHuman Audio Verification Server</title>
	<link rel="shortcut icon" type="image/png" href="../static/favicon.png" />
	<link rel="stylesheet" href="../static/style.css"/>
</head>

<base target="_blank">

<body>
	<h1>RuHuman Audio Verification System</h1>
		<h2>Check if Your Audio is Produced by an AI:</h2>
		<div id="recordAudio">
			<h2>Option 1: Record a Live Sample</h2>
			<button id="record" onclick="startRecording()">Record</button>
			<button id="stop" hidden onclick="stopRecording()">Stop Record</button>
			<br>
		</div>
			
		<form action="/upload" method="post" enctype="multipart/form-data">
			<div id="uploadAudio">
				<h2>Option 2: Upload a Recording</h2>
				<input type="file" accept='audio/*' name="upload" id="audioupload" onchange="loadFile(event)"/>
				<input type="hidden" name="filename" id="filename"/>
				<br><br>
			</div>
			<div id="verifyAudio">
				<input type="submit" value="Verify Audio" />
				<input type="reset" onclick="resetPreview()"/>
			</div>
		</form>
		<br><br>
		<audio hidden controls id="preview">
			<source hidden id="audiosource">
		</audio>


	<br><br>

	<br>

	<img id="favicon" src="../static/favicon.png">
	
</body>

<footer>
	<a href="https://timothydo.me"><h2>Made by Timothy Do</h2></a>
	<a href="https://github.com/dotimothy/RuHuman"><h2>Checkout the Github Repo 💻</h2></a>
</footer>

<script src="../static/UI.js"></script>

</html>
